


      <div class="search-hotel">
         <h3 class="agileits-sear-head">Search Here..</h3>
         <form action="#" method="post">
            <input type="search" placeholder="Product name..." name="search" required="">
            <input type="submit" value=" ">
         </form>
      </div>
  <!-- price range -->
  <div class="range">
    <h3 class="agileits-sear-head">Price range</h3>
    <ul class="dropdown-menu6">
      <li>

        <div id="slider-range"></div>
        <input type="text" id="amount" style="border: 0; color: #ffffff; font-weight: normal;" />
      </li>
    </ul>
  </div>
  <!-- //price range -->
      <!--preference -->
      <div class="left-side">
         <h3 class="agileits-sear-head">Occasion</h3>
         <ul>
            <li>
               <input type="checkbox" class="checked">
               <span class="span">Gift</span>
            </li>
            <li>
               <input type="checkbox" class="checked">
               <span class="span">Kid Play</span>
            </li>
            <li>
               <input type="checkbox" class="checked">
               <span class="span">Dolls</span>
            </li>
            <li>
               <input type="checkbox" class="checked">
               <span class="span">Remot</span>
            </li>
         </ul>
      </div>
      <!-- // preference -->
      <!-- discounts -->
      <div class="left-side">
         <h3 class="agileits-sear-head">Discount</h3>
         <ul>
            <li>
               <input type="checkbox" class="checked">
               <span class="span">5% or More</span>
            </li>
            <li>
               <input type="checkbox" class="checked">
               <span class="span">10% or More</span>
            </li>
            <li>
               <input type="checkbox" class="checked">
               <span class="span">20% or More</span>
            </li>
            <li>
               <input type="checkbox" class="checked">
               <span class="span">30% or More</span>
            </li>
            <li>
               <input type="checkbox" class="checked">
               <span class="span">50% or More</span>
            </li>
            <li>
               <input type="checkbox" class="checked">
               <span class="span">60% or More</span>
            </li>
         </ul>
      </div>
      <!-- //discounts -->
      <!-- reviews -->
      <div class="customer-rev left-side">
         <h3 class="agileits-sear-head">Customer Review</h3>
         <ul>
            <li>
               <a href="#">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <span>5.0</span>
               </a>
            </li>
            <li>
               <a href="#">
               <i class="fas fa-star" ></i>
               <i class="fas fa-star" ></i>
               <i class="fas fa-star" ></i>
               <i class="fas fa-star" ></i>
               <i class="far fa-star"></i>
               <span>4.0</span>
               </a>
            </li>
            <li>
               <a href="#">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star-half"></i>
               <i class="far fa-star"></i>
               <span>3.5</span>
               </a>
            </li>
            <li>
               <a href="#">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="far fa-star"></i>
               <i class="far fa-star"></i>
               <span>3.0</span>
               </a>
            </li>
            <li>
               <a href="#">
               <i class="fas fa-star"></i>
               <i class="fas fa-star"></i>
               <i class="fas fa-star-half"></i>
               <i class="far fa-star"></i>
               <i class="far fa-star"></i>
               <span>2.5</span>
               </a>
            </li>
         </ul>
      </div>


