<div id="app" >

  <nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  *ngIf="isLoggedIn" href="#" routerLink="home/user/profile">Profile&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
          </li>

          <li class="nav-item " *ngIf="!isLoggedIn">
            <a class="nav-link"  href="#" routerLink="home/user/login">Login&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a class="nav-link"  href="#" routerLink="home/user/register">Sign Up &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
          </li>

          <li class="nav-item">
            <a class="nav-link disabled ml-auto" *ngIf="isLoggedIn" href="#" tabindex="-1" aria-disabled="true">{{ username }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  ml-auto" *ngIf="showAdminBoard"  routerLink="back/user/addadmin" href="#" tabindex="-1" aria-disabled="true"> ADMIN-BOARD &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" *ngIf="isLoggedIn" (click)="logout()">Log Out</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>



    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
